html,
body {
  font-family: 'Proxima Nova', Arial, sans-serif;
}

h1 {
  flex-grow: 1;
  text-align: center;
  width: 100%;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.ReactTable {
  font-size: .75em;
  order: 1;
}


/* Add Dove Form */
.dove-add {
  order: 1;
}

fieldset {
  border: 1px solid rgba(0,0,0,0.1);
}

button {
  float: right;
}

fieldset {
  width: 300px;
}

h2 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

.add-label {
  display: inline-block;
  text-align: right;
  width: 150px;
}
